<?xml version="1.0"?>
<config>
    <modules>
        <BC_Checkout>
            <version>0.1.0</version>
        </BC_Checkout>
    </modules>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <bccheckout before="Mage_Checkout">BC_Checkout</bccheckout>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <bc_checkout>
                    <file>bc_checkout.xml</file>
                </bc_checkout>
            </updates>
        </layout>
    </frontend>
</config>