<?xml version="1.0"?>
<config>
    <modules>
        <BC_Checkout>
            <version>0.1.0</version>
        </BC_Checkout>
    </modules>
    <frontend>
        <routers>
            <bc_checkout>
                <use>standard</use>
                <args>
                    <module>BC_Checkout</module>
                    <frontName>bc-checkout</frontName>
                </args>
            </bc_checkout>
            <checkout>
                <args>
                    <modules>
                        <bc_checkout before="Mage_Checkout">BC_Checkout</bc_checkout>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <bc_checkout>
                    <file>bc_checkout.xml</file>
                </bc_checkout>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <bc_checkout>
                <class>BC_Checkout_Helper</class>
            </bc_checkout>
            <checkout>
                <rewrite>
                    <url>BC_Checkout_Helper_Url</url>
                </rewrite>
            </checkout>
        </helpers>
        <blocks>
            <bc_checkout>
                <class>BC_Checkout_Block</class>
            </bc_checkout>
            <checkout>
                <rewrite>
                    <onepage_link>BC_Checkout_Block_Onestep_Link</onepage_link>
                </rewrite>
            </checkout>
        </blocks>
    </global>
</config>