<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Alanstormdotcom_Helloworld>
            <version>0.1.0</version>
        </Alanstormdotcom_Helloworld>
    </modules>
    <global>
        <models>
            <helloworld>
                <class>Alanstormdotcom_Helloworld_Model</class>
            </helloworld>
        </models>
        <helpers>
            <helloworld>
                <class>Alanstormdotcom_Helloworld_Helper</class>
            </helloworld>
        </helpers>
    </global>
    <frontend>
        <routers>
            <helloworld>
                <use>standard</use>
                <args>
                    <module>Alanstormdotcom_Helloworld</module>
                    <frontName>helloworld</frontName>
                </args>
            </helloworld>
        </routers>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <helloworld_options>
                                            <title>Store Hello World Module Section</title>
                                        </helloworld_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <design>
            <header>
                <welcome>Default welcome msg!</welcome>
            </header>
        </design>
        <helloworld_options>
            <messages>
                <hello_flag>true</hello_flag>
            </messages>
        </helloworld_options>
    </default>
</config>