<?xml version="1.0"?>
<config>
    <modules>
        <ECommerce_Blog>
            <version>0.1.0</version>
        </ECommerce_Blog>
    </modules>
    <global>
        <models>
            <blog>
                <class>ECommerce_Blog_Model</class>
                <resourceModel>blog_resource_eav_mysql4</resourceModel>
            </blog>
            <blog_resource_eav_mysql4>
                <class>ECommerce_Blog_Model_Resource_Eav_Mysql4</class>
                <entities>
                    <blogpost>
                        <table>blog_posts</table>
                    </blogpost>
                </entities>
            </blog_resource_eav_mysql4>
        </models>
        <resources>
            <blog_setup>
                <setup>
                    <module>ECommerce_Blog</module>
                    <class>ECommerce_Blog_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </blog_setup>
            <blog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </blog_write>
            <blog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </blog_read>
        </resources>
    </global>
</config>